includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - tests/PHPStan/disallowedCalls.neon
    - tests/PHPStan/conditional.config.php

parameters:
    level: max
    paths:
        - src

    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - LogicException
            - Nette\Application\AbortException
            - Nette\Application\UI\InvalidLinkException
            - Nette\InvalidStateException
            - Nette\IOException
            - Nette\Utils\JsonException
            - Nette\Utils\UnknownImageFileException

    ignoreErrors:
        -
            message: "~Method Nepada\\\\FileUploadControl\\\\Utils\\\\NetteFileSystem::.* throws checked exception Exception but it's missing from the PHPDoc @throws tag~"
            path: src/FileUploadControl/Utils/NetteFileSystem.php
        -
            message: "#^Parameter \\#1 \\$value \\(bool\\) of method Nepada\\\\FileUploadControl\\\\FileUploadControl\\:\\:setDisabled\\(\\) should be contravariant with parameter \\$value \\(mixed\\) of method Nextras\\\\FormComponents\\\\Fragments\\\\UIControl\\\\BaseControl\\:\\:setDisabled\\(\\)$#"
            count: 1
            path: src/FileUploadControl/FileUploadControl.php
        -
            message: "#^Parameter \\#1 \\$caption \\(Nette\\\\Utils\\\\Html\\|string\\|null\\) of method Nepada\\\\FileUploadControl\\\\FileUploadControl\\:\\:getLabel\\(\\) should be contravariant with parameter \\$caption \\(object\\|string(?:\\|null)?\\) of method Nextras\\\\FormComponents\\\\Fragments\\\\UIControl\\\\BaseControl\\:\\:getLabel\\(\\)$#"
            count: 1
            path: src/FileUploadControl/FileUploadControl.php
        -
            message: "#^Parameter \\#2 \\$errorMessage \\(Nette\\\\Utils\\\\Html\\|string\\|null\\) of method Nepada\\\\FileUploadControl\\\\FileUploadControl\\:\\:addRule\\(\\) should be contravariant with parameter \\$errorMessage \\(object\\|string(?:\\|null)?\\) of method Nextras\\\\FormComponents\\\\Fragments\\\\UIControl\\\\BaseControl\\:\\:addRule\\(\\)$#"
            count: 1
            path: src/FileUploadControl/FileUploadControl.php
        -
            message: "#^Parameter \\#1 \\$value \\(bool\\|Nette\\\\Utils\\\\Html\\|string\\) of method Nepada\\\\FileUploadControl\\\\FileUploadControl\\:\\:setRequired\\(\\) should be contravariant with parameter \\$value \\(bool\\|object\\|string\\) of method Nextras\\\\FormComponents\\\\Fragments\\\\UIControl\\\\BaseControl\\:\\:setRequired\\(\\)$#"
            count: 1
            path: src/FileUploadControl/FileUploadControl.php
        -
            message: "#^Parameter \\#1 \\$value of method Nette\\\\Forms\\\\Rules\\:\\:setRequired\\(\\) expects bool\\|string, bool\\|Nette\\\\Utils\\\\Html\\|string given\\.$#"
            count: 1
            path: src/FileUploadControl/FileUploadControl.php
        -
            message: "#^Return type \\(Nette\\\\Utils\\\\Html\\|string\\|null\\) of method Nepada\\\\FileUploadControl\\\\Validation\\\\FakeUploadControl\\:\\:getCaption\\(\\) should be covariant with return type \\(object\\|string\\) of method Nette\\\\Forms\\\\Controls\\\\BaseControl\\:\\:getCaption\\(\\)$#"
            count: 1
            path: src/FileUploadControl/Validation/FakeUploadControl.php
        -
            message: "#^Method Nepada\\\\FileUploadControl\\\\Validation\\\\FakeUploadControl\\:\\:getCaption\\(\\) should return Nette\\\\Utils\\\\Html\\|string\\|null but returns object\\|string\\.$#"
            count: 1
            path: src/FileUploadControl/Validation/FakeUploadControl.php
        -
            message: "#^Parameter \\#1 \\$message \\(Nette\\\\Utils\\\\Html\\|string\\) of method Nepada\\\\FileUploadControl\\\\Validation\\\\FakeUploadControl\\:\\:addError\\(\\) should be contravariant with parameter \\$message \\(object\\|string\\) of method Nette\\\\Forms\\\\Controls\\\\BaseControl\\:\\:addError\\(\\)$#"
            count: 1
            path: src/FileUploadControl/Validation/FakeUploadControl.php
        -
            message: "#^Parameter \\#1 \\$validator \\(\\(callable\\(\\)\\: mixed\\)\\|string\\) of method Nepada\\\\FileUploadControl\\\\FileUploadControl\\:\\:addCondition\\(\\) should be contravariant with parameter \\$validator \\(mixed\\) of method Nextras\\\\FormComponents\\\\Fragments\\\\UIControl\\\\BaseControl\\:\\:addCondition\\(\\)$#"
            count: 1
            path: src/FileUploadControl/FileUploadControl.php
        -
            message: "#^Parameter \\#2 \\$validator \\(\\(callable\\(\\)\\: mixed\\)\\|string\\) of method Nepada\\\\FileUploadControl\\\\FileUploadControl\\:\\:addConditionOn\\(\\) should be contravariant with parameter \\$validator \\(mixed\\) of method Nextras\\\\FormComponents\\\\Fragments\\\\UIControl\\\\BaseControl\\:\\:addConditionOn\\(\\)$#"
            count: 1
            path: src/FileUploadControl/FileUploadControl.php
        -
            message: "#^Cannot cast mixed to string\\.$#"
            count: 1
            path: src/FileUploadControl/FileUploadControl.php
        -
            message: "#^Dead catch \\- Throwable is never thrown in the try block\\.$#"
            count: 1
            path: src/FileUploadControl/FileUploadControl.php
        -
            message: "#^Parameter \\#2 \\$error of method Nepada\\\\FileUploadControl\\\\FileUploadControl\\:\\:createUploadErrorResponse\\(\\) expects string, mixed given\\.$#"
            count: 2
            path: src/FileUploadControl/FileUploadControl.php
        -
            message: "#^Variable property access on Nette\\\\Utils\\\\Html\\.$#"
            count: 1
            path: src/FileUploadControl/FileUploadControl.php
        -
            message: "#^Parameter \\#1 \\$data of static method Nepada\\\\FileUploadControl\\\\Storage\\\\Metadata\\\\FileUploadMetadata\\:\\:fromArray\\(\\) expects array, mixed given\\.$#"
            count: 1
            path: src/FileUploadControl/Storage/Metadata/FileSystemMetadataJournal.php
        -
            message: "#^Parameter \\#1 \\$name of class Nepada\\\\FileUploadControl\\\\Storage\\\\Metadata\\\\FileUploadMetadata constructor expects string, mixed given\\.$#"
            count: 1
            path: src/FileUploadControl/Storage/Metadata/FileUploadMetadata.php
        -
            message: "#^Parameter \\#2 \\$size of class Nepada\\\\FileUploadControl\\\\Storage\\\\Metadata\\\\FileUploadMetadata constructor expects int, mixed given\\.$#"
            count: 1
            path: src/FileUploadControl/Storage/Metadata/FileUploadMetadata.php
