includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/nepada/phpstan-nette-tester/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - tests/PHPStan/disallowedCalls.neon

parameters:
    level: max
    paths:
        - tests

    fileExtensions:
        - php
        - phpt

    excludes_analyse:
        - tests/temp/*

    ignoreErrors:
        - '~Call to static method Tester\\Assert::(type|count|same|notSame)\(\) with .* and .* will always evaluate to true\.~'
        - # intended for test
            message: '~Call to an undefined method Nette\\Application\\UI\\Form::addFileUpload\(\)\.~'
            path: tests/Bridges/FileUploadControlDI/FileUploadControlExtensionTest.phpt
