includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
    - tests/PHPStan/disallowedCalls.neon
    - tests/PHPStan/shipmonk.neon
    - tests/PHPStan/conditional.config.php

parameters:
    level: max
    paths:
        - src

    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - LogicException
            - Nette\Application\AbortException
            - Nette\Application\UI\InvalidLinkException
            - Nette\InvalidStateException
            - Nette\IOException
            - Nette\MemberAccessException
            - Nette\Utils\JsonException
            - Nette\Utils\UnknownImageFileException

    ignoreErrors:
        - # covered by tests
            message: '#^Trait Nepada\\Bridges\\FileUploadControlForms\\FileUploadControlMixin is used zero times and is not analysed\.$#'
            identifier: trait.unused
            count: 1
            path: src/Bridges/FileUploadControlForms/FileUploadControlMixin.php
        -
            message: "~Method Nepada\\\\FileUploadControl\\\\Utils\\\\NetteFileSystem::.* throws checked exception Exception but it's missing from the PHPDoc @throws tag~"
            path: src/FileUploadControl/Utils/NetteFileSystem.php
        -
            message: "#^Dead catch \\- Throwable is never thrown in the try block\\.$#"
            count: 1
            path: src/FileUploadControl/FileUploadControl.php
        -
            message: "#^Parameter \\#2 \\$error of method Nepada\\\\FileUploadControl\\\\FileUploadControl\\:\\:createUploadErrorResponse\\(\\) expects string, mixed given\\.$#"
            count: 3
            path: src/FileUploadControl/FileUploadControl.php
        -
            message: "#^Variable property access on Nette\\\\Utils\\\\Html\\.$#"
            count: 1
            path: src/FileUploadControl/FileUploadControl.php
        -
            message: "#^Parameter \\#1 \\$data of static method Nepada\\\\FileUploadControl\\\\Storage\\\\Metadata\\\\FileUploadMetadata\\:\\:fromArray\\(\\) expects array<mixed>, mixed given\\.$#"
            count: 1
            path: src/FileUploadControl/Storage/Metadata/FileSystemMetadataJournal.php
        -
            message: "#^Parameter \\#1 \\$name of class Nepada\\\\FileUploadControl\\\\Storage\\\\Metadata\\\\FileUploadMetadata constructor expects string, mixed given\\.$#"
            count: 1
            path: src/FileUploadControl/Storage/Metadata/FileUploadMetadata.php
        -
            message: "#^Parameter \\#2 \\$size of class Nepada\\\\FileUploadControl\\\\Storage\\\\Metadata\\\\FileUploadMetadata constructor expects int, mixed given\\.$#"
            count: 1
            path: src/FileUploadControl/Storage/Metadata/FileUploadMetadata.php
        - # Used for checksum only
            message: "#^Calling sha1\\(\\) is forbidden, use hash\\(\\) with at least SHA\\-256 for secure hash, or password_hash\\(\\) for passwords\\.$#"
            count: 1
            path: src/FileUploadControl/Storage/Metadata/FileUploadMetadata.php
        - # false-positive
            message: "#^Method Nepada\\\\FileUploadControl\\\\Storage\\\\ContentRange\\:\\:getRangeSize\\(\\) should return int\\<0, max\\> but returns int\\.$#"
            count: 1
            path: src/FileUploadControl/Storage/ContentRange.php
        - # should not happen
            message: "#^Parameter \\#1 \\$size of static method Nepada\\\\FileUploadControl\\\\Storage\\\\ContentRange\\:\\:ofSize\\(\\) expects int\\<0, max\\>, int given\\.$#"
            count: 1
            path: src/FileUploadControl/Storage/FileUploadChunk.php
        - # pre-validated config structure
            message: '#^Cannot access property \$enable on mixed\.$#'
            identifier: property.nonObject
            count: 1
            path: src/Bridges/FileUploadControlDI/FileUploadControlExtension.php
        - # pre-validated config structure
            message: '#^Cannot access property \$height on mixed\.$#'
            identifier: property.nonObject
            count: 1
            path: src/Bridges/FileUploadControlDI/FileUploadControlExtension.php
        - # pre-validated config structure
            message: '#^Cannot access property \$width on mixed\.$#'
            identifier: property.nonObject
            count: 1
            path: src/Bridges/FileUploadControlDI/FileUploadControlExtension.php
        - # intentional
            message: '#^Loose comparison via "\!\=" is not allowed\.$#'
            identifier: notEqual.notAllowed
            count: 1
            path: src/FileUploadControl/BaseControl.php
        - # false positive
            message: '#^Method Nepada\\FileUploadControl\\BaseControl\:\:getHtmlId\(\) should return bool\|string\|null but returns mixed\.$#'
            identifier: return.type
            count: 1
            path: src/FileUploadControl/BaseControl.php
        - # false positive
            message: '#^Method Nepada\\FileUploadControl\\BaseControl\:\:getHtmlName\(\) should return string but returns mixed\.$#'
            identifier: return.type
            count: 1
            path: src/FileUploadControl/BaseControl.php
        -
            message: '#^Parameter \#1 \$message of method Nette\\Localization\\Translator\:\:translate\(\) expects string\|Stringable, mixed given\.$#'
            identifier: argument.type
            count: 1
            path: src/FileUploadControl/BaseControl.php
        - # false positive
            message: '#^Method Nepada\\FileUploadControl\\FileUploadControl\:\:getNamespaceControl\(\) should return Nette\\Forms\\Controls\\HiddenField but returns mixed\.$#'
            identifier: return.type
            count: 1
            path: src/FileUploadControl/FileUploadControl.php
        - # false positive
            message: '#^Method Nepada\\FileUploadControl\\FileUploadControl\:\:getUploadControl\(\) should return Nette\\Forms\\Controls\\UploadControl but returns mixed\.$#'
            identifier: return.type
            count: 1
            path: src/FileUploadControl/FileUploadControl.php
        -
            message: '#^Cannot call method getHtmlName\(\) on mixed\.$#'
            identifier: method.nonObject
            count: 1
            path: src/FileUploadControl/Validation/FakeUploadControl.php
